@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.main-container {
  padding: 0;
  margin: 1% 5%;
  display: flex;
  flex-direction: row;
} 
.left-side {
  width: 55%;
  /* background-image: url(../../assets/img/bg.jpg); */
  background-color: #FF8C00;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.phone-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right-side {
  width: 45%;
  background-color: #FFDEAD;
  padding: 5% 7%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.responsive {
  display: none;
}
.title-logo {
  font-family: Nunito Sans;
  font-size: 35px;
  font-weight: 900;
  color: black;
  padding: 5% 0 5% 15%;
}
.app-text {
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 700;
  padding: 5% 0 0 15%;
  color: black;
}
.app-description {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15% 5% 15%;
  color: black;
  margin: 0;
}
.right-text-signup {
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 900;
  color: rgba(58, 61, 66, 1);
  margin-bottom: 10%;
}
.app-description_right {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  color: rgba(58, 61, 66, 0.6);
  margin-bottom: 10%
}
.form-input_signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}
.form-input_signup input {
  background-color: #FFDEAD;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  margin-left: 5%;
  width: 100%;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
}
::placeholder {
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 400;
  color: rgba(169, 169, 169, 0.8);
}
.icon-eye-password {
  position: absolute;
  left: 87%;
}
.forgot {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  color: rgba(58, 61, 66, 0.8);
  margin-bottom: 15%;
  border: none;
  color: rgba(99, 121, 244, 1);
  background-color: #ffdead;
}
.forgot-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.forgot:hover {
  color: rgb(12, 47, 245);
}
.button-signup {
  width: 100%;
  padding: 3% 0;
  background: #FF8C00;
  border-radius: 10px;
  border: none;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin: 5% 0;
}
.button-signup:disabled{
  background-color: #DADADA;
  color: #88888F;
}
.button-confirm {
  width: 100%;
  padding: 3% 0;
  background: rgba(99, 121, 244, 1);
  border-radius: 10px;
  border: none;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 15% ;
}
.button-confirm:disabled{
  background-color: #DADADA;
  color: #88888F;
}
.button-reset {
  width: 100%;
  padding: 3% 0;
  background: rgba(99, 121, 244, 1);
  border-radius: 10px;
  border: none;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 15% ;
}
.button-reset:disabled{
  background-color: #DADADA;
  color: #88888F;
}
.has-account-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.has-account {
  margin: 0;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
}
.has-account-button {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 14px;
  color: rgba(99, 121, 244, 1);
  border: none;
  background-color: #FFDEAD;
}
.has-account-button:hover {
  color: rgb(12, 47, 245);
}
.pin-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pincode-input-text {
  border-radius: 5px;
  font-family: Nunito Sans;
  font-size: 16px;
  width: 40px !important;
  height: 40px !important;
}

@media (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: #e7f1f7;
    margin: 0;
    height: max-content;
  }
  .left-side {
    width: 100%;
  }
  .title-logo {
    background-color: #e7f1f7;
    margin: 0;
    padding: 20% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(99, 121, 244, 1);
  }
  .phone-group {
    display: none;
  }
  .app-text {
    display: none;
  }
  .app-description {
    display: none;
  }
  .right-side {
    width: 100%;
    border-radius: 20px;
    background-color: white;
  }
  .responsive {
    display: flex;
    flex-direction: column;
  }
  .phone-responsive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
    color: rgba(58, 61, 66, 1);
    margin: 5% 0 0 0;
  }
  .phone-responsive-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 61, 66, 0.6);
    margin: 10% 0;
  }
  .right-text-signup {
    display: none;
  }
  .app-description_right {
    display: none;
  }
  .form-input_signup input {
    background-color: white;
  }
  .form-input_signup {
    background-color: white;
  }
  .has-account-button {
    background-color: white;
  }
  .forgot {
    background-color: white;
    margin-bottom: 15%;
  }
  .button-confirm {
    margin-top: 50%;
  }
  .button-reset {
    margin-top: 40%;
  }
  .icon-eye-password {
    position: absolute;
    left: 88%;
  }
}
